.dog-name {
  color: rgb(64, 64, 219);
  text-align: center;
  font-size: 24px;
  margin: 15px 15px;
  font-weight: bold;
  letter-spacing: 5px;
}

.img-container {
  display: flex;
  justify-content: center;
  img {
    max-height: 360px;
    object-fit: cover;
  }
}

p {
  padding: 40px;
}
