.dog-card {
  width: 250px;
  height: 370px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  .dog-name {
    color: rgb(64, 64, 219);
    text-align: center;
    font-size: 24px;
    margin: 15px 5px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  img {
    max-height: 150px;
    object-fit: cover;
  }
  .dog-description {
    text-align: center;
  }
}
